@{
    ViewData["Title"] = "Othomp Auto Parts Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<asp:Panel runat="server" CssClass="">
    <img src="~/Image/logo5.jpg" alt="" width="1000px" />
</asp:Panel>
<body>
    <p>
        Last Updated: [9/20/2023]
        <br>

        Thank you for choosing [Your AutoShop Name]! We are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website or use our services.
    </p>


    <form id="form1" runat="server">
        <div>

            <h2>1. Personal Information:</h2>
            <ul>
                <li>Name</li>
                <li>Contact information (email address, phone number)</li>
                <li>Billing and shipping address</li>
                <li>Payment details</li>
            </ul>

            <h2>2. Non-personal Information:</h2>
            <ul>
                <li>Browser type</li>
                <li>IP address</li>
                <li>Device information</li>
                <li>Cookies and usage data</li>
            </ul>

            <h2>3. How We Use Your Information:</h2>
            <ul>
                <li>
                    a. Order Processing:
                    <ul>
                        <li>To process and fulfill your orders</li>
                        <li>To communicate with you regarding your purchases</li>
                    </ul>
                </li>
                <li>
                    b. Customer Service:
                    <ul>
                        <li>To respond to your inquiries and provide support</li>
                    </ul>
                </li>
                <li>
                    c. Marketing and Promotions:
                    <ul>
                        <li>To send you promotional offers, newsletters, and updates with your consent</li>
                    </ul>
                </li>
                <li>
                    d. Website Improvement:
                    <ul>
                        <li>To enhance and personalize your experience on our website</li>
                        <li>To analyze website usage and improve our services</li>
                    </ul>
                </li>
            </ul>

            <h2>4. Information Sharing:</h2>
            <ul>
                <li>
                    a. Third-Party Service Providers:
                    <ul>
                        <li>We may share your information with trusted third parties for order fulfillment, payment processing, and other essential services.</li>
                    </ul>
                </li>
                <li>
                    b. Legal Compliance:
                    <ul>
                        <li>We may disclose your information if required by law or in response to legal requests.</li>
                    </ul>
                </li>
            </ul>

            <h2>5. Security Measures:</h2>
            <ul>
                <li>a. We implement industry-standard security measures to protect your information from unauthorized access, disclosure, alteration, and destruction.</li>
            </ul>

            <h2>6. Cookies:</h2>
            <ul>
                <li>a. We use cookies to enhance your browsing experience and collect information about how you use our website. You can manage your cookie preferences through your browser settings.</li>
            </ul>

            <h2>7. Your Choices:</h2>
            <ul>
                <li>a. You can update or correct your personal information by logging into your account or contacting us directly.</li>
                <li>b. You have the option to opt-out of receiving marketing communications.</li>
            </ul>

            <h2>8. Children's Privacy:</h2>
            <ul>
                <li>a. Our services are not intended for individuals under the age of 13. We do not knowingly collect or maintain information from children.</li>
            </ul>

            <h2>9. Changes to the Privacy Policy:</h2>
            <ul>
                <li>a. We reserve the right to update and modify this Privacy Policy. Any changes will be reflected on this page, and the date of the last update will be revised accordingly.</li>
            </ul>

            <h2>10. Contact Us:</h2>
            <ul>
                <li>a. If you have any questions or concerns about our Privacy Policy, please contact us at [our email:OthompAUTOPART@gmail.com/our number:876-819-5473].</li>
            </ul>

            <p>By using our website or services, you consent to the terms outlined in this Privacy Policy. It is advisable to review this policy periodically for any updates.</p>
        </div>
    </form>
</body>


